<a href="https://colab.research.google.com/github/afafrafat77/Python/blob/main/Practice_%5E_%5E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice    
# Enjoy^_^

# 1. Python Flow Control

## 1. Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

In [46]:
def find_numbers_divisible_by_7_and_5():
    for i in range(1500, 2701):
        if i % 7 == 0 and i % 5 == 0:
            print(i, end=" ")

## 2. Write a Python program to guess a number between 1 and 9.
Note : User is prompted to enter a guess. If the user guesses wrong then the prompt appears again until the guess is correct, on successful guess, user will get a "Well guessed!" message, and the program will exit.

In [47]:
import random

def guess_the_number():
    num = random.randint(1, 9)
    x = 0
    while x != num:
        x = int(input("Enter a number: "))
        if x != num:
            print(f"Try Again {x}")
    print(f"Congratultions ^^ {num}")

guess_the_number()

Enter a number: 5
Try Again 5
Enter a number: 7
Try Again 7
Enter a number: 2
Try Again 2
Enter a number: 1
Congratultions ^^ 1

## 3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement.
Expected Output : 0 1 2 4 5

In [48]:
def print_numbers():
    for x in range(7):
        if x % 3 == 0 and x != 0:
            continue
        print(x, end=" ")
print_numbers()

0 1 2 4 5

## 4. Write a Python program to construct the following pattern, using a nested for loop.
```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [49]:
def print_star(n):
    for i in range(n + 1):
        for j in range(i):
            print("*", end=" ")
        print()
    for i in range(n):
        for j in range(n - 1 - i):
            print("*", end=" ")
        print()
print_star(6)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [50]:
def print_diamond(n):
    for i in range(n + 1):
        for j in range(n - i):
            print("", end=" ")
        for j in range(i):
            print("*", end=" ")
        print()
    for i in range(n - 1, 0, -1):
        for j in range(n - i):
            print("", end=" ")
        for j in range(i):
            print("*", end=" ")
        print()
print_diamond(7)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

## 5. Write a Python program that accepts a word from the user and reverses it.

In [51]:
def reverse_string(word):
    reverse = ""
    for c in word:
        reverse = c + reverse
    print(reverse)

# Call the function to reverse a string:
word = input()
reverse_string(word)

Afaf Rafat
tafaR fafA

## 6. Write a Python program to count the number of even and odd numbers in a series of numbers
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

Expected Output :

Number of even numbers : 4

Number of odd numbers : 5

In [52]:
def count_even_odd(numbers):
    even = 0
    odd = 0
    for i in numbers:
        if i % 2:
            odd += 1
        else:
            even += 1
    print(f"Number of even numbers : {even}")
    print(f"Number of odd numbers : {odd}")

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
count_even_odd(numbers)

Number of even numbers : 4
Number of odd numbers : 5

## 7. Write a Python program to print the the first alphabet pattern 'A-Z' in your name .
for example  Expected Output:


```
  ***                                                                   
 *   *                                                                  
 *   *                                                                  
 *****                                                                  
 *   *                                                                  
 *   *                                                                  
 *   *
```

In [53]:
for i in range(1,8):
    if(i==1):
        print(" *** ")
    elif i==4:
        print("*****")
    else:
        print("*   *")

 ***
*   *
*   *
*****
*   *
*   *
*   *

## 8.  Write a Python program to construct the following pattern, using a nested loop number.
Expected Output:


``
1
22
333
4444
55555
666666
7777777
88888888
999999999
``

In [54]:
def print_number_pattern(n):
    for i in range(1, n + 1):
        for j in range(i):
            print(i, end="")
        print("", end=" ")

# Example usage:
print_number_pattern(9)  # Prints the pattern with 9 lines

1 22 333 4444 55555 666666 7777777 88888888 999999999

## 9. Write a Python program to create the multiplication table (from 1 to 10) of a number.
Expected Output:

Input a number: 6                                                       
6 x 1 = 6                                                               
6 x 2 = 12                                                              
6 x 3 = 18                                                              
6 x 4 = 24                                                              
6 x 5 = 30                                                              
6 x 6 = 36                                                              
6 x 7 = 42                                                              
6 x 8 = 48                                                              
6 x 9 = 54                                                              
6 x 10 = 60

In [55]:
def multiplication_table(n):
    for j in range(1, 11):
        print(f"{n} x {j} = {n * j}")

n = int(input())
multiplication_table(n)

7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

## 10. Write a Python program to calculate the sum and average of n integer numbers (input from the user). Input 0 to finish.

In [56]:
def calculate_sum_and_average():
    sum = 0
    cnt = 0
    while True:
        num = int(input())
        if num == 0:
            break
        sum += num
        cnt += 1
    print(f"Sum of numbers: {sum}")
    print(f"Average of numbers: {sum / cnt:.2f}")
calculate_sum_and_average()

5
7
2
12
9
0
Sum of numbers: 35
Average of numbers: 7.00

# 11-Python Program to Print the Fibonacci sequence

The Fibonacci numbers are the numbers in the following integer sequence. 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, …….. In mathematical terms, the sequence Fn of Fibonacci numbers is defined by the recurrence relation.

In [57]:
def print_fibonacci_sequence(terms):
    a = 0
    b = 1
    print(a, end=" ")
    print(b, end=" ")
    for i in range(terms):
        print(a + b, end=" ")
        temp = a
        a = b
        b = temp + b
print_fibonacci_sequence(50)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049 12586269025 20365011074

# Finding the Maximum Value in a List

In [58]:
def find_maximum(numbers):
    mx = numbers[0]
    for i in numbers:
        if i > mx:
            mx = i
    return mx
numbers = [7, 5, 2, 10, 1]
print(find_maximum(numbers))

10

# Counting Vowels in a String

In [59]:
def count_vowels(string):
    vowels = "AEIOUaeiou"
    cnt = 0
    for c in string:
        for char in vowels:
            if c == char:
                cnt += 1
    return cnt
string = "Afaf Rafat Ibrahim"
print(count_vowels(string))

7

# Finding Prime Numbers within a Range

In [60]:
def print_prime_numbers(limit):
    for num in range(2, limit):
        flag = True
        for i in range(2, num):
            if num % i == 0:
                flag = False
                break
        if flag:
            print(num, end=" ")
print_prime_numbers(100)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# A Program that Simulating a Basic ATM Withdrawal

In [61]:
def ATM(initial_balance):
    balance = initial_balance

    while balance > 0:
        need = float(input("Enter amount to withdraw (0 to exit): "))

        if need == 0:
            print("Good bye!")
            break

        if need > balance:
            print("Insufficient balance. Try again.")
        else:
            balance -= need
            print(f"Succeeded! Your current balance is {balance}.")

        if balance == 0:
            print("Your balance is now 0.")
            break
balance = float(input("Enter initial balance: "))
ATM(balance)

Enter initial balance: 2500
Enter amount to withdraw (0 to exit): 1000
Succeeded! Your current balance is 1500.0.
Enter amount to withdraw (0 to exit): 3000
Insufficient balance. Try again.
Enter amount to withdraw (0 to exit): 200
Succeeded! Your current balance is 1300.0.
Enter amount to withdraw (0 to exit): 150
Succeeded! Your current balance is 1150.0.
Enter amount to withdraw (0 to exit): 1150
Succeeded! Your current balance is 0.0.
Your balance is now 0.

# Finding Common Elements in Two Lists

In [62]:
def find_common_elements(list1, list2):
    common = []
    for i in list1:
        if i in list2:
            common.append(i)
    for i in common:
        print(i, end=" ")

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
find_common_elements(list1, list2)

4 5

# Calculating Factorial of a Number

In [63]:
def factorial(n):
    fact = 1
    for i in range(1, n + 1):
        fact *= i
    return fact
n = 5
print(f"Factorial of {n}: {factorial(n)}")

Factorial of 5: 120

# Validating User Input with While Loop

In [64]:
def validate():
    while True:
        num = int(input("Enter a number greater than 10: "))
        if num > 10:
            print("Valid input!")
            return num
        else:
            print("The number must be greater than 10. Please try again.")

# Example usage:
num = validate()
print("You entered:", num)

Enter a number greater than 10: 5
The number must be greater than 10. Please try again.
Enter a number greater than 10: 8
The number must be greater than 10. Please try again.
Enter a number greater than 10: 10
The number must be greater than 10. Please try again.
Enter a number greater than 10: 12
Valid input!
You entered: 12

# Finding the Sum of Digits of a Number

In [65]:
def digit_sum(number):
    sum = 0
    while number > 0:
        sum+= (number % 10)
        number //= 10
    return sum

n = 13456
sum =digit_sum(n)
print(sum)

19

# Checking for Palindrome Strings

In [66]:
def is_palindrome(s):
    flag = True
    for i in range(int(len(s) / 2) + 1):
        if s[i] != s[len(s) - 1 - i]:
            flag = False
            break
    if flag:
        print("The string is palindrome")
    else:
        print("The string is not palindrome")

s = "ABCDCBA"
is_palindrome(s)

s = "AFAF"
is_palindrome(s)

The string is palindrome
The string is not palindrome

# Creating a Dictionary from Two Lists

In [67]:
def create_dictionary(keys, values):
    dictionary = {}
    for i in range(len(keys)):
        dictionary[keys[i]] = values[i]
    return dictionary

keys = ['Name', 'Age', 'Address']
values = ["Afaf", 22, "Cairo"]
dic = create_dictionary(keys, values)
print(dic)

{'Name': 'Afaf', 'Age': 22, 'Address': 'Cairo'}

# Simulating a Simple Password Check

In [68]:
def verify_password(my_password):
    input_password = ""

    while input_password != my_password:
        input_password = input("Enter password: ")
        if input_password != my_password:
            print("Incorrect password. Please try again.")

    print("Correct Password")

my_password = "15678531"
verify_password(my_password)

Enter password: 865312
Incorrect password. Please try again.
Enter password: 15678531
Correct Password

# Generating a Multiplication Table for a Given Number

In [69]:
def print_multiplication_table(n):
    for j in range(1, 13):
        print(f"{n} x {j} = {n * j}")

n = int(input("Enter a number: "))
print_multiplication_table(n)

Enter a number: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

# Calculating Average of Numbers Using Functions

In [70]:
def Avg(num):
    sum=0
    for i in num:
        sum+=i
    return sum/len(num)
num = [1, 2, 3, 4, 5]
print(Avg(num))

3.0

In [71]:
def longest(l):
    length=0
    s=""
    for i in l:
        if(len(i)>length):
            length=len(i)
            s=i
    return s
fruits = ["Apple", "Banana", "Orange", "Kiwi", "Mango"]
print(longest(fruits))

Banana

In [72]:
def prime(num):
    if num <= 1:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True
print (prime(7))
print(prime(8))

True
False

# Converting Temperature Units

In [73]:
def c_to_f(cel):
    return (cel* 9/5) + 32

def f_to_c(fahr):
    return (fahr - 32) * 5/9
print (c_to_f(25))
print(f_to_c(50))

77.0
10.0

# Generating a List of Squares Using List Comprehension and Functions

In [74]:
def generate_squares(start, end):
    return [i**2 for i in range(start, end + 1)]
l = generate_squares(1, 7)
print(l)

[1, 4, 9, 16, 25, 36, 49]

# Converting a List of Strings to Uppercase

In [75]:
def upper(string):
    s = ""
    for char in string:
        if char.islower():
            s += char.upper()
        else:
            s += char.lower()
    return s

string = "hello"
print(upper(string))

HELLO

# Calculating the Total Price Including Tax

In [76]:
def total_price(price, tax_rate):
    total = price + (price * tax_rate)
    return total

price = 100
tax = 0.05
cost = total_price(price, tax)
print(f"Total price: {cost}")

Total price: 105.0

# Finding the Minimum and Maximum Values in a List

In [77]:
def find_maximum_minimum(numbers):
    mx = numbers[0]
    mn= numbers[0]
    for i in numbers:
        if i < mn:
            mn = i
        if i > mx:
            mx = i
    return mx ,mn
numbers = [7, 5, 2, 10, 1]
print(find_maximum_minimum(numbers))

(10, 1)

# Checking if a String is a Valid Email Address

In [78]:
def is_valid_email(email):
    if "@" not in email or "." not in email:
        return False
    idx1= email.index("@")
    idx2= email.rfind(".")

    if idx1 > idx2:
        return False
    return True

email1 = "afaf.rafat77@gmail.com"
email2 = "afaf.rafat77"

print(is_valid_email(email1))
print(is_valid_email(email2))

True
False

# Counting the Frequency of Each Character in a String

In [79]:
def count_frequency(text):
    char_freq = {}
    for char in text:
        if char in char_freq:
            char_freq[char] += 1
        else:
            char_freq[char] = 1

    return char_freq

s= "Afaf Rafat Ibrahim"
frequency = count_frequency(s)
print(frequency)

{'A': 1, 'f': 3, 'a': 4, ' ': 2, 'R': 1, 't': 1, 'I': 1, 'b': 1, 'r': 1, 'h': 1, 'i': 1, 'm': 1}